@model TP4.ViewModels.ClienteViewModel

<section>
    <h1 class="text-center">Cargar cliente</h1>
    <article>
        <form asp-controller="Clientes" asp-action="cargarClientePost" method="post">

            <label asp-for="@Model.Nombre"> @Html.DisplayNameFor(Model => Model.Nombre)
                <input asp-for="@Model.Nombre" type="text">
            </label>
            <span class="form-control" asp-validation-for="@Model.Nombre" ></span>

            <label asp-for="@Model.Direccion"> @Html.DisplayNameFor(Model => Model.Direccion) 
                <input type="text" asp-for="@Model.Direccion">
            </label>
            <span class="form-control" asp-validation-for="@Model.Direccion" ></span>

            <label asp-for="@Model.Telefono"> @Html.DisplayNameFor(Model => Model.Telefono)
                <input type="text" asp-for="@Model.Telefono">
            </label>    
            <span class="form-control" asp-validation-for="@Model.Telefono" ></span> 

            <label asp-for="@Model.DatosReferenciaDireccion"> @Html.DisplayNameFor(Model => Model.DatosReferenciaDireccion)
                <input type="text" asp-for="@Model.DatosReferenciaDireccion">
            </label>    
            <span class="form-control" asp-validation-for="@Model.DatosReferenciaDireccion"></span> 

            <input type="submit" value="Cargar">
        </form>
    </article>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> } 


