@model TP4.ViewModels.ListaClienteViewModel

<section>
    <h1 class="text-center">Listado de clientes</h1>

    @if (ViewBag.Error != null)
    {
        <article class="text-center excepcionDB">@ViewBag.Error</article>
    } else {
        <article class="text-center">
            <p>A continuacion se listan los clientes:</p>
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Referencia dirección
                            </th>
                            <th>
                                Mostrar pedidos
                            </th>
                            <th>
                                Borrado
                            </th>
                            <th>
                                Modificación
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in Model.listaClientesViewModel)
                        {
                            <tr>
                                <td>
                                    @cliente.ID
                                </td>
                                <td>
                                    @cliente.Nombre
                                </td>
                                <td>
                                    @cliente.Direccion
                                </td>
                                <td>
                                    @cliente.Telefono
                                </td>
                                @if(cliente.DatosReferenciaDireccion != null){
                                    <td>
                                        @cliente.DatosReferenciaDireccion
                                    </td>
                                } else {
                                    <td>
                                        -
                                    </td>
                                }
                                <td>
                                    @Html.ActionLink("Listar","listarPedidosCliente","Pedidos", new {idCliente = cliente.ID})
                                </td>
                                <td>
                                    @Html.ActionLink("Eliminar","eliminarCliente","Clientes", new {id = cliente.ID})
                                </td>
                                <td>
                                    @Html.ActionLink("Modificar","modificarCliente","Cliente", new {id = cliente.ID})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </article>
        <article>
            <p class="extrasListarClientes">Si desea agregar la información de un cliente, <a asp-area="" asp-controller="Clientes" asp-action="cargarCliente">haga click aquí.</a></p>
            <p class="extrasListarClientes"> Cantidad de clientes registrados: @Model.contarCadetes()</p>
        </article>
    }
</section>


