@model TP4.ViewModels.ListaClienteViewModel

@{
    ViewBag.Title = "Listado de clientes";
    string rolUsuario = Context.Session.GetString("rolUsuario");
}

<section>
    <h1 class="text-center">Listado de clientes</h1>

    @if (ViewBag.Error != null)
    {
        <article class="text-center excepcionDB">@ViewBag.Error</article>
    } else {
        <article class="text-center">
            <p>A continuacion se listan los clientes:</p>
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Referencia dirección
                            </th>
                            <th>
                                Mostrar pedidos
                            </th>
                            @if(rolUsuario == "Administrador"){
                                <th>
                                    Borrado
                                </th>
                                <th>
                                    Modificación
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cliente in Model.listaClientesViewModel)
                        {
                            <tr>
                                <td>
                                    @cliente.ID
                                </td>
                                <td>
                                    @cliente.Nombre
                                </td>
                                <td>
                                    @cliente.Direccion
                                </td>
                                <td>
                                    @cliente.Telefono
                                </td>
                                @if(cliente.DatosReferenciaDireccion != null){
                                    <td>
                                        @cliente.DatosReferenciaDireccion
                                    </td>
                                } else {
                                    <td>
                                        -
                                    </td>
                                }
                                <td>
                                    <a title="Listar pedidos del cliente" asp-controller="Pedidos" asp-action="listarPedidosCliente" asp-route-idCliente="@cliente.ID" asp-route-nombreCliente="@cliente.Nombre">Listar</a>

                                </td>
                                @if(rolUsuario == "Administrador"){
                                    <td>
                                        <a title="Eliminar información del cliente" asp-controller="Clientes" asp-action="eliminarCliente" asp-route-id="@cliente.ID">Eliminar</a>
                                    </td>
                                    <td>
                                        <a title="Modificar información del cliente" asp-controller="Clientes" asp-action="modificarCliente" asp-route-id="@cliente.ID">Modificar</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
        </article>
        <article>
            @if(rolUsuario == "Administrador"){
                <p class="extrasListarClientes">Si desea agregar la información de un cliente, <a asp-area="" asp-controller="Clientes" asp-action="cargarCliente">haga click aquí.</a></p>
            }
            <p class="extrasListarClientes"> Cantidad de clientes registrados: @Model.contarClientes()</p>
        </article>
    }
</section>


