@model TP4.ViewModels.CadeteViewModel

<section>
    <h1 class="text-center">Cargar cadete</h1>
    <article>
        <form asp-controller="Cadetes" asp-action="cargarCadetePost" method="post">

            <label asp-for="@Model.Nombre"> @Html.DisplayNameFor(Model => Model.Nombre)
                <input asp-for="@Model.Nombre" type="text">
            </label>
            <span class="form-control" asp-validation-for="@Model.Nombre" ></span>

            <label for="@Model.Direccion"> @Html.DisplayNameFor(Model => Model.Direccion) 
                <input type="text" asp-for="@Model.Direccion">
            </label>
            <span class="form-control" asp-validation-for="@Model.Direccion" ></span>

            <label for="@Model.Telefono"> @Html.DisplayNameFor(Model => Model.Telefono)
                <input type="text" asp-for="@Model.Telefono">
            </label>    
            <span class="form-control" asp-validation-for="@Model.Telefono" ></span> 

            <input type="submit" value="Cargar">
        </form>
    </article>
</section>
