@model TP4.ViewModels.ListaCadeteViewModel

@{
    ViewBag.Title = "Listado de cadetes";
}

<section>
    <h1 class="text-center">Listado de cadetes</h1>

    @if (ViewBag.Error != null)
    {
        <article class="text-center excepcionDB">@ViewBag.Error</article>
    } else {
        <article class="text-center">
            <p>A continuacion se listan los cadetes:</p>
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Mostrar pedidos
                            </th>
                            <th>
                                Borrado
                            </th>
                            <th>
                                Modificación
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cadete in Model.listaCadetesViewModel)
                        {
                            <tr>
                                <td>
                                    @cadete.ID
                                </td>
                                <td>
                                    @cadete.Nombre
                                </td>
                                <td>
                                    @cadete.Direccion
                                </td>
                                <td>
                                    @cadete.Telefono
                                </td>
                                <td>
                                    <a title="Listar pedidos del cadete" asp-controller="Pedidos" asp-action="listarPedidosCadete" asp-route-idCadete="@cadete.ID" asp-route-nombreCadete="@cadete.Nombre">Listar</a>

                                </td>
                                <td>
                                    <a title="Eliminar información del cadete" asp-controller="Cadetes" asp-action="eliminarCadete" asp-route-id="@cadete.ID">Eliminar</a>
                                </td>
                                <td>
                                    <a title="Modificar información del cadete" asp-controller="Cadetes" asp-action="modificarCadete" asp-route-id="@cadete.ID">Modificar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </article>
        <article>
            <p class="extrasListarCadetes">Si desea agregar la información de un cadete, <a asp-area="" asp-controller="Cadetes" asp-action="cargarCadete">haga click aquí.</a></p>
            <p class="extrasListarCadetes"> Cantidad de cadetes registrados: @Model.contarCadetes()</p>
        </article>
    }
</section>


