@model List<TP4.ViewModels.PedidoViewModel>

@{
    ViewBag.Title = "Listado de pedidos";
    string rolUsuario = Context.Session.GetString("rolUsuario");
}

<section>
    <h1 class="text-center">Listado de todos los pedidos</h1>
    <article class="text-center">
        <p>Pedidos encontrados:</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            Número
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>
                            Cadete
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            Estado
                        </th>
                        @if(rolUsuario == "Administrador"){
                            <th>
                                Borrado
                            </th>
                            <th>
                                Modificación
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model)
                    {
                        <tr>
                            <td>
                                @pedido.Numero
                            </td>
                            <td>
                                @pedido.NombreCliente - ID @pedido.IdCliente
                            </td>
                            <td>
                                @pedido.NombreCadete - ID @pedido.IdCadete
                            </td>
                            @if(pedido.Observaciones!=null){
                                <td>@pedido.Observaciones</td>
                            } else {
                                <td>-</td>
                            }
                            @if(pedido.EstaRealizado){
                                <td>Entregado</td>
                            } else {
                                <td>Pendiente</td>
                            }
                            @if(rolUsuario == "Administrador"){
                                <td>
                                    <a title="Eliminar pedido" asp-controller="Pedidos" asp-action="eliminarPedido" asp-route-numPedido="@pedido.Numero">Eliminar</a>
                                </td>
                                <td>
                                    <a title="Modificar pedido" asp-controller="Pedidos" asp-action="modificarPedido" asp-route-numPedido="@pedido.Numero">Modificar</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
    </article>
    <article>
        @if(rolUsuario == "Administrador"){
            <p class="extrasListarPedidos">Para registrar un nuevo pedido, <a asp-area="" asp-controller="Pedidos" asp-action="crearPedido">haga click aquí</a>. <strong>Deben haber cadetes y clientes cargados.</strong></p>
        }
    </article>
</section>


