@model TP4.ViewModels.ListaPedidosClienteViewModel

@{
    ViewBag.Title = "Listado de pedidos";
}

<section>
    <h1 class="text-center">Listado de pedidos del cliente</h1>
    <article class="text-center">
        <p>Pedidos encontrados correspondientes al cliente @Model.nombreCliente:</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            Número
                        </th>
                        <th>
                            Cadete
                        </th>
                        <th>
                            Observaciones
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Borrado
                        </th>
                        <th>
                            Modificación
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pedido in Model.pedidosCliente)
                    {
                        <tr>
                            <td>
                                @pedido.Numero
                            </td>
                            <td>
                                @pedido.NombreCadete - ID @pedido.IdCadete
                            </td>
                            @if(pedido.Observaciones!=null){
                                <td>@pedido.Observaciones</td>
                            } else {
                                <td>-</td>
                            }
                            @if(pedido.EstaRealizado){
                                <td>Entregado</td>
                            } else {
                                <td>Pendiente</td>
                            }
                            <td>
                                <a title="Eliminar pedido" asp-controller="Pedidos" asp-action="eliminarPedido" asp-route-numPedido="@pedido.Numero">Eliminar</a>
                            </td>
                            <td>
                                <a title="Modificar pedido" asp-controller="Pedidos" asp-action="modificarPedido" asp-route-numPedido="@pedido.Numero">Modificar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="extrasListarPedidos">Cantidad de pedidos que el/la cliente aún no recibió: @Model.cantidadPedidosSinRecibir()</p>
    </article>
</section>


